@import "tailwindcss";

@theme {
  --animate-scroll-left: scroll-left 20s linear infinite;
  --animate-scroll-right: scroll-right 20s linear infinite;

  @keyframes scroll-left {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-30%);
    }
  }

  @keyframes scroll-right {
    from {
      transform: translateX(-30%);
    }
    to {
      transform: translateX(0%);
    }
  }
}
